body{
    background-color:#ffffff;
  }
  h1{
    color:green;}
    h2{
        color:green;

    }
    h3{
        color:green;
    }
  
  hr{
    background-color: white;
  border-style: dotted;
  border-top:none ;
  border-width: 5px;
  height: 0;
  width: 30;
  }
  img{
    height: 130px;
  }